relazione/_minted-relazione
relazione/relazione.aux
relazione/relazione.bbl
relazione/relazione.blg
relazione/relazione.log
relazione/relazione.out
relazione/relazione.synctex.gz
relazione/relazione.toc
relazione/texput.log